* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: gainsboro;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 90%;
    width: 70%;
    padding: 3%;

    background-color: white;
    box-shadow: 0 8px 10px 5px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

h1 {
    font-size: 3.5em;
    color: #111827;
}

.button-container {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
}

button {
    height: 75px;
    width: 120px;

    font-size: large;
    color: white;
    background-color: #4F46E5;
    border-radius: 1em;
    box-shadow: 0 5px 8px 2px rgba(0, 0, 0, 0.2);
}

.score {
    height: 10em;
    width: 20em;

    font-size: larger;

    display: flex;
    justify-content: center;
    align-items: center;
}